{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{% set message = message ?? null %}

<style>input#honeypooh { display: none; }</style>

<form method="post" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('contact-form/send') }}
    {{ redirectInput('contact/thanks?from={fromEmail}') }}

    <div class="form-layout">
        <div>
            <p><label for="firstName">First Name</label></p>
            {{ input('text', 'message[First Name]', message.message[firstName] ?? '', {
                id: 'firstName',
                required: true,
            }) }}
            {{ message ? _self.errorList(message.getErrors('message[firstName]')) }}
        </div>
        <div>
            <p><label for="lastName">Last Name</label></p>
            {{ input('text', 'message[Last Name]', message.message[lastName] ?? '', {
                id: 'lastName',
            }) }}
            {{ message ? _self.errorList(message.getErrors('message[lastName]')) }}
        </div>
    </div>
    <div class="form-layout">
        <div>
            <p><label for="from-email">Email</label></p>
            {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                id: 'from-email',
                autocomplete: 'email',
                required: true,
            }) }}
            {{ message ? _self.errorList(message.getErrors('fromEmail')) }}
        </div>

        <div>
            <p><label for="phone">Phone</label></p>
            {{ input('text', 'message[Phone]', message.message[Phone] ?? '', {
                id: 'phone',
                required: true,
            }) }}
            {{ message ? _self.errorList(message.getErrors('message[Phone]')) }}
        </div>
    </div>
    <div class="form-layout">
        <div>
            <p><label for="message">Message</label></p>
            <textarea rows="5" cols="40" id="message" name="message[body]" required>{{ message.message.body ?? '' }}</textarea>
        </div>
    </div>


    <input id="honeypooh" name="honeypooh" type="text">

    <button type="submit" class="btn dark">
        <a>
            {% include '_partials/svg/btn-icon-left.svg' %}
                <p>Submit</p>
            {% include '_partials/svg/btn-icon-arrow.svg' %}
        </a>
    </button>
</form>

