
{% set residential = craft.entries().section('residential').all() %}
{% set commercial = craft.entries().section('commercial').all() %}
{% set blog = craft.entries().section('blog').all() %}

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ siteUrl }}"><img src="{{ contactDetails.companyLogo[0].getUrl() }}" alt="{{contactDetails.imageAltText}}"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-auto">
    
      <li class="nav-item dropdown">
        <div class="d-flex">
          <a class="nav-link" href="/residential">Residential</a>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul>
            {% for post in residential  %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <div class="d-flex">
          <a class="nav-link" href="/commercial">Commercial</a>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul>
            {% for post in commercial %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </li> 

      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/careers">Careers</a>
      </li>
    </ul>

    <div class="my-2 my-lg-0 btn dark">
      <a href="/contact">
        {% include '_partials/svg/btn-icon-left.svg' %}
          <p>Contact Us</p>
        {% include '_partials/svg/btn-icon-arrow.svg' %}
      </a>
    </div>
  </div>
</nav>

