{% extends "_layout.twig" %}

{# Images on this page weight #}
{% set imgQuality = {
  quality: 60,
} %}

{% set currentEntry = entry %}

{% set entries = craft.entries()
    .section('blog')
    .id('not ' ~ currentEntry.id)
    .limit(5)
    .all()
%}

{% set featureImage = currentEntry.mediaImage.one() %}
{% set authorProfileImage = entry.authorProfile.one() %}

{% block content %}

<div class="media-entries blog-entries">
   <div class="media-content dark">
      <div class="container-fluid hero-header" >
         <div class="wrapper">
            <div class="d-flex flex-column">
               <div class="">
                  {% if currentEntry.title %}
                  <h1 class="">{{ currentEntry.title }}</h1>
                  {% endif %}  
                  <div class="right-size">
                     <div class="media-author">
                        <div class="img-auth">
                           {% if authorProfileImage %}
                              <img src="{{ authorProfileImage.getUrl('customerProfilePic') }}" alt="Customer profile image">
                           {% endif %} 
                        </div>
                        <div class="text-auth">
                           {% if currentEntry.authorName %}
                           <p class='dark'><span> {{ currentEntry.authorName }}</span></p>
                           {% endif %}  
                           {% if currentEntry.publishDate %}
                           <p>{{ currentEntry.publishDate|date('d-m-Y') }}</p>
                           {% endif %}  
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="single-svg">
         {% include '_partials/svg/lg-round-grey.svg' %}
      </div>

      <div class="container-fluid style-4 small-image-wrapper" >
         <div class="wrapper">
            <div class="d-lg-flex small-image">
               <div class="left-size">
               {% if featureImage %}
                   <img src="{{ featureImage.getUrl('blogHero') }}" alt="Customer profile image">
               {% endif %}
               </div>

               <div class="right-size">
                  <p class="intro-text ">
                     {% if currentEntry.mediaIntro %}
                     {{ currentEntry.mediaIntro }}
                     {% endif %}
                  </p>
                  <div class="social-links">
                     <a href=""><img src="/uploads/siteImages/facebook.svg"></a>
                     <a href=""><img src="/uploads/siteImages/facebook.svg"></a>
                     <a href=""><img src="/uploads/siteImages/facebook.svg"></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="container-fluid style-4 body-content" >
      <div class="wrapper">
         <div class="d-flex">
            <div class="media-nav left-size">
               <p class="pre-header">Read Next</p>
               <ul>
                  {% for otherEntry in entries %}
                     <li>
                        <a href="{{ otherEntry.url }}">{{ otherEntry.title }}</a>
                     {% if otherEntry.publishDate %}
                        <p>{{ otherEntry.publishDate|date('d-m-Y') }}</p>
                     {% endif %}  
                     </li>
                  {% endfor %}
               </ul>
            </div>

            <div class="media-body right-size">
               {% if currentEntry.mediaContent %}
                  {{ currentEntry.mediaContent }}
               {% endif %}
            </div> 
         
         </div>
      </div>
   </div>


{% endblock %}